.main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .box{
        
        .img{
            width: 124px;
            height: 124px;
            border-radius: 50%;
            border: 8px solid #1E3050;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:1rem ;
            color: #1E3050;
            img{
                width: 84px;
                height: 84px;
            }
        }
        .successMsg{
            padding-bottom: 1.5rem;
           text-align: center;
            .text{
                color: var(--text-grey3);
            }
        }
    }
}