.main {
  padding: 3% 0px 0px 0px;
}

.no_auction {
  flex-direction: column;
  margin: 3vw 0px 7vw 0px;

  background: #fff;
  padding: 5vw 0px 7vw 0px;
  box-shadow: 0px 0px 11px 0px rgba(0, 53, 102, 0.2);
  border-radius: 11px;

  img {
    height: 90px;
  }

  p {
    margin-top: 1vw;
    text-align: center;
    color: var(--blue-dark);
  }
}
