.main {
  padding: 3vw 0px 5vw 0px;
}

.top_side {
  align-items: stretch;
  margin: 0px 0px 7vw 0px;
}

// ##################################### TABLE #####################################

.table_part {
  width: 42%;
  background-color: var(--blue-dark);
  padding: 15px 0px;
  border-radius: 12px;

  .table_header {
    width: 100%;
    padding: 5px 20px;
    img {
      height: 5vw;
      margin: 0px 15px 0px 0px;
    }

    .txts {
      p {
        color: white;
      }

      .txt1 {
        margin: 0px 5px 0px 0px;
      }
    }

    .price {
      color: var(--yellow2);
    }
  }

  .table {
    width: 100%;
    border-spacing: 0px;

    .th {
      color: white;
    }

    th {
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      background-color: var(--blue-dark);
      padding: 15px 0px;
    }

    tr:nth-child(odd) {
      background-color: var(--blue);
    }

    td {
      text-align: center;
      font-size: 14px;
      font-weight: 100 !important;
      padding: 8px 0px;
      color: white;
    }
  }
}

// ##################################### Closed Card #####################################

.closed_auction {
  width: 29%;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 11px 0px rgba(0, 53, 102, 0.2);

  display: flex;
  flex-direction: column;

  .top {
    width: 100%;
    padding: 5% 5% 5% 5%;

    img {
      height: 28px;
      cursor: pointer;
    }
  }

  .body {
    width: 100%;
    flex-grow: 1;
    background-color: rgba(0, 53, 102, 0.1);
    position: relative;

    .img_container {
      width: 100%;
      height: 100%;

      img {
        width: 80%;
      }
    }

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      img {
        width: 80%;
      }
    }
  }

  .footer {
    width: 100%;
    padding: 7% 5% 5% 5%;
    flex-wrap: nowrap;

    img {
      border-radius: 11px;
      width: 22%;
      aspect-ratio: 80/70;
      object-fit: cover;
      object-position: 50% 50%;
      background-color: rgba(0, 53, 102, 0.1);
    }
  }
}

// ##################################### Detailed Closed #####################################

.auction_closes {
  width: 25%;
  padding: 3% 2.5% 0% 2.5%;

  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 11px 0px rgba(0, 53, 102, 0.2);

  h2 {
    margin-bottom: 4%;
  }

  .price {
    background-color: var(--yellow2);
    width: fit-content;
    padding: 5px 5px 5px 10px;
    border-radius: 500px;
    margin-bottom: 6%;

    .money {
      background-color: #e4af18;
      padding: 2px 20px;
      margin: 0px 0px 0px 10px;
      border-radius: 500px;
    }
  }

  .start_price {
    margin-bottom: 6%;

    .money {
      color: var(--blue-dark);
    }

    .value {
      color: var(--yellow2);
      margin: 0px 5px 0px 0px;
    }
  }

  .desc {
    color: rgba(0, 53, 102, 0.59);
    margin-bottom: 6%;
  }
}

.timer {
  width: fit-content;
  margin-top: 5px;

  .box {
    margin: 0px 8px 0px 0px;
    flex-direction: column;
    .digit {
      border-radius: 5px;
      color: white;
      background-color: var(--main);
      padding: 5px 0px;
      margin: 0px 3px 5px 0px;
      width: 25px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.buttons {
  margin-top: 5%;

  button {
    margin-bottom: 3%;
    border-radius: 500px;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0px;
  }

  .btn1 {
    background-color: var(--blue-dark);
    color: white;
  }

  .btn2 {
    border: solid 1px var(--blue-dark);
    color: var(--blue-dark);
  }
}
