.flex {
  width: 100%;
  align-items: center;
}

.txts {
  width: fit-content;
  max-width: 90%;
}

.top_text {
  color: #002e46;
  font-weight: 300;
}

.main_text {
  color: #002e46;
}

.bot_text {
  color: rgba(0, 46, 70, 0.62);
  font-weight: 300;
}

.additionals {
}
