.MainContainer {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.MainContainer2 {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}

.MainContainer3 {
  width: 61%;
  margin-left: auto;
  margin-right: auto;
}

// ############ White Container ############

.white_container {
  width: 100%;
  padding: 25px 40px;
  background-color: #fff;
}

.topline {
  border-top: solid 1px #e9f0f2;
}

.botline {
  border-bottom: solid 1px #e9f0f2;
}

.topmargin {
  margin-top: 2%;
}

.botmargin {
  margin-bottom: 2%;
}
