.main {
  margin-top: 4vw;
}

.blogging {
  margin: 3vw 0px 6vw 0px;

  .left {
    margin: 0px 0px 5vw 0px;
  }

  .text_part {
    width: 50%;
  }

  .b_img1,
  .b_img2 {
    width: 40%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 30px;
  }

  .b_img1 {
    aspect-ratio: 530/300;
  }

  .b_img2 {
    aspect-ratio: 460/330;
    width: 35%;
  }

  .b_bottom {
    width: 100%;
    display: block;
    margin-top: 3%;
    border-radius: 30px;
  }

  h2 {
    margin-bottom: 15px;
    color: var(--blue-dark);
  }

  p {
    text-align: justify;
    margin: 0px 0px 15px 0px;
    color: var(--blue-dark);
    line-height: 1.5;
  }
}
