.main {
}

// ######################### HEADER #########################
.head {
  width: 100%;
  position: relative;

  .img_bg {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }

  .overlay {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;

    align-items: flex-end !important;
    justify-content: flex-start !important;

    padding: 6% 4%;
  }

  button {
    background-color: var(--yellow);
    border: none;
    color: var(--main);

    font-weight: 700;
    padding: 15px 60px;
    font-size: 18px;
  }
}
// ######################### HEADER #########################

// ######################### LISTAUCTIONS #########################
.main_lis_auctions {
  box-shadow: 0px 4px 15px 0px rgba(0, 53, 102, 0.07);
  background: #fff;
}

.list_auctions {
  width: 100%;
  position: relative;

  img {
    position: absolute;
    height: 12px;
    cursor: pointer;
  }

  .left {
    left: -2%;
  }

  .right {
    right: -2%;
  }

  .list {
    width: 100%;
    height: 100%;
  }

  .item {
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6% 0.8%;
    user-select: none;
  }

  .selected {
    background-color: var(--yellow);
    color: var(--main);
    font-weight: 500 !important;
    border-radius: 4px;
  }
}

// ######################### LISTAUCTIONS #########################

// ######################### WHO WE ARE #########################

.who_we_are {
  width: 100%;
  padding: 3% 0px 0px 0px;
  align-items: flex-start;

  .left {
    width: 50%;
    margin: 3% 0px 0px 0px;

    p {
      color: #003566;
      width: 85%;
    }
  }

  .right {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

// ######################### STEPS TO DELIVERY SECTION #########################

.steps_delivery {
  flex-wrap: nowrap;

  .items {
    flex-wrap: nowrap;
    margin: -3% 0px 5% 0px;
  }

  .item {
    // width: 25%;
    flex-wrap: nowrap;
    align-items: flex-start;

    .icon {
      min-width: 40px;

      margin: 0px 10px 0px 0px;
      img {
        width: 100%;
        height: 40px;
      }
    }

    .title {
      color: #000;
    }

    .desc {
      color: var(--grey);
    }
  }

  .w-3 {
    width: 27%;
  }

  .w-2 {
    width: 20%;
  }
}
