@use "../../assets/scss/media-queries.scss" as *;

.h49,
.h42,
.h40,
.h38,
.h36,
.h32,
.h24,
.p21,
.p18,
.p19,
.p16,
.p14,
.p13,
.p12,
.p11,
.p10,
.p9 {
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  color: var(--main);
}

.h49 {
  font-size: 49px;

  @include lt-md {
    font-size: 45px;
  }
}

.h42 {
  font-size: 42px;

  @include lt-md {
    font-size: 22px;
  }
}

.h38 {
  font-size: 38px;

  @include lt-md {
    font-size: 30px;
  }
}

.h36 {
  font-size: 36px;

  @include lt-md {
    font-size: 28px;
  }
}

.h32 {
  font-size: 32px;

  @include lt-md {
    font-size: 26px;
  }
}

.h24 {
  font-size: 24px;

  @include lt-md {
    font-size: 22px;
  }
}

.p21 {
  font-size: 21px;

  @include lt-md {
    font-size: 19px;
  }
}

.p20 {
  font-size: 20px;

  @include lt-md {
    font-size: 18px;
  }
}

.p19 {
  font-size: 19px;

  @include lt-md {
    font-size: 17px;
  }
}

.p18 {
  font-size: 18px;

  @include lt-md {
    font-size: 15px;
  }
}

.p18 {
  font-size: 17px;

  @include lt-md {
    font-size: 14px;
  }
}

.p16 {
  font-size: 16px;

  @include lt-md {
    font-size: 14px;
  }
}

.p14 {
  font-size: 14px;

  @include lt-md {
    font-size: 12px;
  }
}

.p13 {
  font-size: 13px;

  @include lt-md {
    font-size: 11px;
  }
}

.p12 {
  font-size: 12px;

  @include lt-md {
    font-size: 10px;
  }
}

.p11 {
  font-size: 11px;

  @include lt-md {
    font-size: 9px;
  }
}

.p10 {
  font-size: 10px;

  @include lt-md {
    font-size: 8px;
  }
}

.p9 {
  font-size: 9px;

  @include lt-md {
    font-size: 8px;
  }
}
