.main {
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 11px 0px rgba(0, 53, 102, 0.2);
  padding: 3% 0px;
  margin: 5vw auto 5% auto;
}

.header_param {
  padding: 2%;
  border-bottom: solid 1px rgba(0, 53, 102, 0.26);
  cursor: pointer;
  user-select: none;
  img {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
  }

  .icon2 {
    height: 16px;
  }

  p {
    margin: 0px 5px 0px 0px;
  }
}

.setting {
  overflow: hidden;
}

.content {
  height: 0px;
  transition: all 0.2s;
}

.show {
  height: fit-content;
}

.sub_content {
  padding: 2%;
  width: 100%;
}

// ################################ Settings ################################

.email {
  width: 100%;
  padding: 2% 2% 4% 2%;
  border-radius: 29px;
  background: rgba(0, 53, 102, 0.11);

  input {
    margin: 20px 0px;
    width: 100%;
    font-size: 14px;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
  }

  button {
    color: #003566;
    background-color: var(--yellow);
    padding: 8px 20px;
    border-radius: 3px;
    font-weight: 700;
  }
}
