.prev {
  z-index: 20;
  position: absolute;
  transform: rotate(180deg) translateX(25%);
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  &:hover {
    transform: rotate(180deg) translateX(25%) scale(1.1);
  }
}

.next {
  z-index: 20;
  position: absolute;
  right: 0px;
  transform: rotate(0deg) translateX(25%);
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  &:hover {
    transform: rotate(0deg) translateX(25%) scale(1.1);
  }
}
