.scrollbar_parent {
  width: 1%;
  height: 100vh;
  position: fixed;
  z-index: 9999999;
  right: 0px;
  padding: 3px 3px;
}

.scrollbar {
  width: 100%;
  background-color: #c1c1c1;
  border-radius: 500px;
}
