@import '../../../assets/scss/media-queries.scss';

.blogging {
  margin: 1.5vw 0px 1vw 0px;
  width: 38%;
  @include lt-md{
    width: 100%;
  }
  .image_prod{
    p{
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: #001D3D;
      a{
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .main_image{
      margin: 1rem 0;
      img{
        width: 100%;
        height: 420px;
        border-radius: 35px;
      }
    }

  }
  .flex_img{
    margin: 1rem;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    .img_sec{
      height: 85px;
      width: 30%;
      img{
        height:100% ;
        width:100% ;
        border-radius: 8px;
      }
    }

  }
}
