.main {
  background: linear-gradient(180deg, #000814 0%, #003566 100%);
  padding: 6% 0px 3% 0px;

  p {
    color: white;
  }
}

.content {
  align-items: flex-start;
}

.part1 {
  width: 50%;
  height: 100%;

  .logo {
    width: 60%;
    display: block;
  }

  .rxs {
    margin: 0px 0px 0px 15%;

    img {
      height: 22px;
      margin: 0px 5px 0px 0px;
      cursor: pointer;
      display: block;
    }
  }
}

.part2 {
  align-items: start;

  .group {
    margin: 0px 4vw 0px 0px;
  }

  .main_title {
    margin: 0px 0px 1.5vw 0px;
  }

  .link {
    margin: 0px 0px 10% 0px;
  }
}

.bottom {
  margin-top: 3vw;
}

.payements {
  img {
    width: 35px;
    display: block;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
  }
}
